
.background{
    width: 100vw;
    height: 50rem;
    object-fit: scale-down; /* Fills the space, potentially cropping edges */
    object-position: center; /* Centers the image's focal point */
    
}


