.image-container {
  position: relative; 
  display: inline-block; 
}

.overlay-image {
  position: absolute; 
  top: 10rem;          
  left: 34rem;         
  width: 50rem;
  height: 57rem;   
  background-color: white;    
  transform: rotate(70deg);
}