.image-container {
  position: relative; 
  display: inline-block; 
}

.overlay-image {
  position: absolute; 
  top: 10rem;          
  left: 34rem;         
  width: 50rem;
  height: 57rem;   
  background-color: white;    
  transform: rotate(70deg);
}

.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


.topnav .icon {
  display: none;
}

login-btn {
    background-color: #007bff; /* Example blue color */
    border-radius: 4px;
}

.signup-btn {
    background-color: #28a745; /* Example green color */
    border-radius: 4px;
}

.login-btn:hover {
    background-color: #0056b3;
}

.signup-btn:hover {
    background-color: #218838;
}

.auth-buttons {
    float: right;
    padding-right: 2rem;
}